:root {
  --dark-bg-color: rgb(76, 72, 72);
  --dark-color: rgb(213, 191, 191);
  --dark-input-color: rgb(166, 157, 157);
  --dark-input-bg-color: rgb(142, 138, 138);
}

.user-cosntainer {
  display: flex;
  margin-top: 20px;
}

.user-card {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 150px;
  height: 150px;
  border-radius: 10px;
  box-shadow: 4px 2px 38px 0px rgba(0, 0, 0, 0.75);
}

.dark-theme .user-card {
  color: var(--dark-color);
  background-color: var(--dark-bg-color);
}

.dark-theme button {
  color: var(--dark-color);
  background: var(--dark-bg-color);
}

.dark-theme input {
  color: var(--dark-color);
  background: var(--dark-input-bg-color);
}
